body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
  }
  
  ul.gallery {
    list-style: none;
    display: flex;
    width: 1440px;
    height: 696px;
    padding: 24px 156px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap;
  }
  
  .gallery-item {
    width: 360px;
   
  }
  
  .gallery-link {
    display: block;
    text-decoration: none;
  }
  
  .gallery-image {
    width: 360px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-image:hover {
    transform: scale(1.1);
  }
  